.container-order {
    padding: 10px 15%;
    & .order-item {
        padding: 20px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px gray solid;
    }
}